<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Online Bags</title>
</head>

<body>
<div id="main_div" >
<table width="100%" height="517" cellpadding="0" cellspacing="0" style="border:none ">
<tr>
    <td height="90" colspan="2" valign="middle">	
		<span class="style7">ONLINE BAG <span class="style9"><span class="style11">S</span><span class="style10"> Limited</span> </span></span>
    <td width="199" rowspan="2" valign="top" style="margin-top:0 ">
	  	<img src="images/Guitar.jpg" width="100%" height="250" />
    </tr>
<tr>
  <td width="147" height="401" valign="top">
    Menu Here
    
  <td width="520" valign="top">
<h1>Available bags in the System</h1>

<table width="100%">
  <tr>
    <!-- <th style="text-align:left">Id</th> -->
    <th  style="text-align:left">Bags</th>
    <th  style="text-align:left">Name</th>
    <th  style="text-align:left">Description</th>
    <th style="text-align:left">Quantity</th>
    <th style="text-align:left" colspan="3">To Do</th>
  </tr>

<% @bags.each do |bag| %>
  <tr>
    <!-- <td><%= bag.id %></td> -->
    <td valign="top" width="10%"><img src="../images/<%= bag.image_url %>" width="100%" height="50" /></td>
    <td valign="top" width="15%"><%= bag.name %></td>
    <td valign="top"><%= bag.description %></td>
    <td valign="top"><%= bag.quantity %></td>
    <td valign="top"><%= link_to 'Show', bag %></td>
    <td valign="top"><%= link_to 'Edit', edit_bag_path(bag) %></td>
    <td valign="top"><%= link_to 'Remove', bag, :confirm => 'Are you sure you want to remove the bag from the system?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Bag', new_bag_path %>

  </tr>
  <tr>
    <td height="24" colspan="3" style="border-top:#000000 thin solid; text-align:center ">&copy; Online Bags 2010</td>
  </tr>
</table>
</div>
</body>
</html>
